<h1>Edit Lesson</h1>
<%= form_with model: @asdfasdfasfasfasfd, url: course_lesson_path(@asdfasdfasfasfasfd.course, @asdfasdfasfasfasfd) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @asdfasdfasfasfasfd.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @asdfasdfasfasfasfd.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :video_url %><br>
    <%= form.text_area :video_url %><br>
    <% @asdfasdfasfasfasfd.errors.full_messages_for(:video_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>