<h1><%= @lesson.title %></h1>

<p><%= @lesson.body %></p>
<iframe width="560" height="315" src="<%= @lesson.video_url %>" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<ul>
  <li><%= link_to "Edit", edit_course_lesson_path(@lesson.course, @lesson) %></li>
   <li><%= link_to "Destroy", course_lesson_path(@lesson.course, @lesson), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>