<%= form_with model: course do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% course.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% course.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :video_url %><br>
    <%= form.text_area :video_url %><br>
    <% course.errors.full_messages_for(:video_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>