<h1>Courses</h1>
<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course do %>
        <% if course.images.attached? %>
          <% course.images.each do |image| %>
            <%= image_tag image, {height: "80px", class: "nav-link", style: "border-radius: 5px;"} %>
          <% end %>
        <% end %>
        <%= course.title %>
      <% end %>
        <br>
       Likes: <%= course.likes.count %>
     <% like = current_user.likes.find_by(course: course) %>
      <% if like.nil? %>
        <form action="/likes" method="post">
           <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token %> "/>
           <input type ="hidden" name="like[course_id]" value="<%= course.id %> "/>
           <input type="submit" value="Like"/>
        </form>
      <% else %>
        <form action="<%= like_path(like) %>" method="post">
           <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token %> "/>
           <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="Unlike"/>
        </form>
      <% end %>
    </li>

  <% end %>
</ul>
<%= link_to "New Course", new_course_path %>