<h1>New Course</h1>

<%= form_with model: @course do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :video_url %><br>
    <%= form.text_area :video_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>