 <h1>Course: <%= @course.title %></h1>


<li><%= link_to "Edit", edit_course_path(@course) %></li>
   <li><%= link_to "Destroy", course_path(@course), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<h3>About course: </h3><p><%= @course.body %></p>


<h3>Lessons</h3>
<ul>
  <%= render @course.lessons %>
</ul>

 <%= link_to "New Lesson", new_course_lesson_path(@course) %>
