<h1><%= @course.title %></h1>

<p><%= @course.body %></p>
<iframe width="560" height="315" src="<%= @course.video_url %>" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<ul>
  <li><%= link_to "Edit", edit_course_path(@course) %></li>
   <li><%= link_to "Destroy", course_path(@course), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Lessons</h2>
<%= render @course.lessons %>

<h2>Add a lesson:</h2>
<%= render 'lessons/form' %>